body {
  background-color: #8b8b8b;
}

button {
  color: #8b8b8b;
  background-color: #fff;

  border: none;
  cursor: pointer;
}

.calculator {
  margin: 100px auto;
  padding: 16px;
  max-width: 300px;

  background-color: #e4e4e4;
  border-radius: 40px;

  box-shadow: 0 5px 5px #767676;
}

#result {
  width: 100%;
  height: 44px;

	font-size: 30px;

  border-radius: 20px 20px 2px 2px;
  border: none;
  box-shadow: inset 0 2px 2px #dbdbdb;
}

.buttons {
	margin-top: 1px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

}